USE [master]
GO
/****** Object:  Database [IPInfo]    Script Date: 01/27/2018 19:29:40 ******/
CREATE DATABASE [IPInfo] ON  PRIMARY 
( NAME = N'IPInfo_Data', FILENAME = N'C:\AEGIS\DB\IPInfo_Data.MDF' , SIZE = 10048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'IPInfo_Log', FILENAME = N'C:\AEGIS\DB\IPInfo_Log.LDF' , SIZE = 10048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPInfo]
GO
/****** Object:  User [ipinfo]    Script Date: 01/27/2018 19:29:40 ******/
CREATE USER [ipinfo] FOR LOGIN [ipinfo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Mapinfo]    Script Date: 01/27/2018 19:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mapinfo](
	[ZSID] [int] NOT NULL,
	[MapName] [varchar](24) NOT NULL,
	[MapID] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_Mapinfo] PRIMARY KEY CLUSTERED 
(
	[MapName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Mapinfo_1] UNIQUE NONCLUSTERED 
(
	[MapID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[GetMapInfo]    Script Date: 01/27/2018 19:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMapInfo] AS
	select ZSID, MapName, MapID from MapInfo
GO
