USE [master]
GO
/****** Object:  Database [UserCountLog]    Script Date: 01/27/2018 19:31:45 ******/
CREATE DATABASE [UserCountLog] ON  PRIMARY 
( NAME = N'UserCountLog', FILENAME = N'C:\AEGIS\DB\UserCountLog_Data.mdf' , SIZE = 10048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'UserCountLog_log', FILENAME = N'C:\AEGIS\DB\UserCountLog_Log.ldf' , SIZE = 10048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserCountLog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserCountLog]
GO
/****** Object:  User [userlog]    Script Date: 01/27/2018 19:31:45 ******/
CREATE USER [userlog] FOR LOGIN [userlog] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[UserCount_Log]    Script Date: 01/27/2018 19:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserCount_Log](
	[SvrName] [varchar](20) NOT NULL,
	[SvrType] [tinyint] NOT NULL,
	[DateTime] [varchar](20) NOT NULL,
	[DateYMD]  AS (CONVERT([varchar](10),[DateTime],(120))),
	[UserCount] [int] NULL,
 CONSTRAINT [PK_UserCount] PRIMARY KEY CLUSTERED 
(
	[DateTime] DESC,
	[SvrName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UserCount] ON [dbo].[UserCount_Log] 
(
	[DateTime] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsertUserCountLog]    Script Date: 01/27/2018 19:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserCountLog]
@SvrType tinyint,
@SvrName varchar(20),
@DateTime varchar(20),
@UCnt int
--WITH 
--ENCRYPTION
AS

BEGIN 

	INSERT INTO UserCount_Log(SvrType,SvrName, [DateTime], UserCount)
	VALUES (@SvrType, @SvrName, @DateTime, @UCnt)

END
GO
/****** Object:  StoredProcedure [dbo].[del_UserCountLog]    Script Date: 01/27/2018 19:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[del_UserCountLog]
--WITH 
--ENCRYPTION
AS

BEGIN
	SET NOCOUNT ON
	DELETE FROM UserCount_Log WHERE DateYMD < getdate()-15
END
GO
